{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load crispy_forms_field %}

{% load bootstrap4 %}

{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{{ form.media }}

{% block content %}
<h1>Nueva Persona</h1>
<form method="POST" class="uniForm blueForms">
    {% csrf_token %}
    <table>
    {{ form|crispy }}
  </table>
    <button type="submit" class="save btn btn-default" <span class="glyphicon glyphicon-edit"></span>Grabar</button>
</form>
{% endblock %}
