{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">


  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <hr/>
          {% if object_list %}

              <h2>Editando Equipo {{ nombre_equipo }}</h2>
            
          {% else %}
            <h2>Sin Edicion de Equipo </h2>
          {% endif %}
          <table id="example" class="table table-striped table-bordered" style="width:100%">

            <thead>
                <tr>
                    <th>Nombre Jugador</th>
                    <th>Genero</th>
                    <th>Posicion</th>
                    <th>Estatura</th>
                    <th>Acciones</th>
                </tr>
            </thead>

             <tbody>
                    {% for instancia in object_list %}
                    <tr>
                        <td>{{ instancia.nombres }} {{ instancia.apellido_paterno }} {{ instancia.apellido_materno }} </td>
                        <td>{{ instancia.genero }}</td>
                        <td>{{ instancia.posicion }}</td>
                        <td>{{ instancia.estatura }}</td>
                        <td>
                            <a class="btn btn-primary" href="">Quitar</a>
                            <a class="btn btn-success" href="">Ver Ficha</a>
    
                        </td>
                    </tr>
                  {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Nombre Jugador</th>
              <th>Genero</th>
              <th>Posicion</th>
              <th>Estatura</th>
              <th>Acciones</th>
              </tr>
          </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}


